<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>title</title>
    <!-- add link to css -->
    <link rel="stylesheet" href="./bootstrap-grid.min.css" />
    <link rel="stylesheet" href="./bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="./upsystem.css" />
  </head>
  <body>
    <!-- add header -->
    <header class="header" layout:fragment="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="logo vertical-center">
              <h1>技術資料等アップロードシステム</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tools vertical-right">
              <input
                class="btn"
                type="button"
                name=""
                value="閉じる"
                onClick="window.close();"
              />
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" layout:fragment="contents">
      <div class="breadcrumbs">
        <div class="row">
          <ul>
            <li><a href="">example</a></li>
            <li><a href="">example</a></li>
            <li>example</li>
          </ul>
        </div>
      </div>
      <!-- breadcrumbs -->
      <!-- breadcrumbsの有無はページによって異なる -->
      <div class="screen-title">
        <div class="row">
          <div class="col-12 align-center">
            <h2>screentitle: align-center</h2>
          </div>
        </div>
      </div>
      <!-- screen-title -->

      <div class="top-area">
        <div class="row">
          <div class="col-lg-6">
            <table>
              <tr>
                <th>調達案件番号</th>
                <!-- projectNo 19digit -->
                <td>1234567890123456789</td>
              </tr>
              <tr>
                <th>調達案件名称</th>
                <!-- projectName -->
                <td>
                  <a href="#">XXXXXXXXXX</a>
                </td>
              </tr>
              <tr>
                <th>対象申請書種別</th>
                <!-- applicationFormName -->
                <td>XXXXXXXXXX</td>
              </tr>
              <tr>
                <th>対象資料種別</th>
                <!-- documentTypeName -->
                <td>XXXXXXXXXX</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- top-area -->

      <div class="middle-area">
        <div class="row justify-content-center">
          <div class="col-5">
            <div>
              <div>
                <input
                  type="button"
                  name=""
                  value="disabled"
                  class="btn btn-block"
                  disabled
                />
              </div>
              <div>
                <input
                  type="button"
                  name=""
                  value="添付ファイル追加"
                  class="btn btn-block"
                />
              </div>
            </div>
            <div>
              <input
                type="button"
                name=""
                value="disabled"
                class="btn btn-block"
                disabled
              />
            </div>
          </div>
          <div class="col-5">
            <div>
              <input
                type="button"
                name=""
                value="登録結果データのダウンロード"
                class="btn btn-block"
              />
            </div>
            <div>
              <input
                type="button"
                name=""
                value="disabled"
                class="btn btn-block"
                disabled
              />
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-8 align-left alert-message">
            <div>
              <p class="indentback red bold">
                ※現時点では申請書の提出は完了していません。<br />電子入札システムに戻り、申請書の提出を必ず実施してください。
              </p>
              <p class="indentback">
                ※<span class="yellow-underline"
                  >全ての添付ファイルを追加後、登録結果データをダウンロードし、<br />電子入札システムの申請書提出時に添付して下さい。</span
                >
              </p>
            </div>
            <p class="indentback red bold">
              ※電子入札システムで申請書を提出した後は、ファイル追加ができません。
            </p>
          </div>
        </div>
      </div>
      <!-- middle-area -->

      <div class="bottom-area">
        <div class="row list-controll">
          <div class="col-12 align-right">
            <div class="btn-group">
              <input
                type="button"
                value="前ページ"
                th:disabled="${page.first} ? 'true':'false'"
                class="btn"
                th:onClick="${not page.first} ? 'location.href=\'' + @{'/attachmentFiles'(page=${page.number -1})} + '\'' : ''"
              />

              <input
                type="button"
                name=""
                value="再表示"
                class="btn"
                th:onClick="'location.href=\'' + @{'/attachmentFiles'(page=0)} + '\''"
              />

              <input
                type="button"
                value="次ページ"
                th:disabled="${page.last} ? true:false"
                class="btn"
                th:onClick="${not page.last} ? 'location.href=\'' + @{'/attachmentFiles'(page=${page.number +1})} + '\'' : ''"
              />
            </div>
            <div class="controll-message">
              <div
                class="align-right"
                th:text="${page.totalElements} + '件です。'"
              ></div>
              <div
                class="align-right"
                th:text="'全' + ${page.totalElements} + '件中、' + (${page.number} * ${page.size} + 1)  + '-' + (${page.last} ? ${page.totalElements} :(${page.number + 1}) * ${page.size}) +  '件を表示しています。'"
              >
                全XX件中、X-X件を表示しています。
              </div>
              <div
                th:text="最終更新日時： + ${#dates.format(new java.util.Date(),'yyyy/MM/dd HH:mm:ss')}"
              >
                最終更新日時：20XX/XX/XX XX:XX:XX
              </div>
            </div>
          </div>
        </div>
        <!-- list-controll -->

        <div class="row result-list">
          <div class="col-12">
            <div>5%, 20%, 15%, 30%, 10%, 20%</div>
            <table>
              <tr>
                <th width="5%">No.</th>
                <th width="20%">申請書種別</th>
                <th width="15%">資料種別</th>
                <th width="30%">ファイル名称</th>
                <th width="10%">サイズ</th>
                <th width="20%">提出日時</th>
              </tr>

              <tr>
                <td class="align-center">1</td>
                <td class="align-left">入札書</td>
                <td class="align-left">簡易技術資料</td>
                <td class="align-left">
                  <div><a href="">技術資料1.txt</a></div>
                </td>
                <td class="align-right">
                  <div>0.1MB</div>
                </td>
                <td class="align-left">20XX/XX/XX XX:XX:XX</td>
              </tr>
              <tr>
                <td class="align-center">2</td>
                <td class="align-left">入札書</td>
                <td class="align-left">簡易技術資料</td>
                <td class="align-left">
                  <div><a href="">技術資料1.txt</a></div>
                </td>
                <td class="align-right">
                  <div>0.1MB</div>
                </td>
                <td class="align-left">20XX/XX/XX XX:XX:XX</td>
              </tr>
              <tr>
                <td class="align-center">3</td>
                <td class="align-left">入札書</td>
                <td class="align-left">簡易技術資料</td>
                <td class="align-left">
                  <div><a href="">技術資料1.txt</a></div>
                </td>
                <td class="align-right">
                  <div>0.1MB</div>
                </td>
                <td class="align-left">20XX/XX/XX XX:XX:XX</td>
              </tr>
              <tr>
                <td class="align-center">4</td>
                <td class="align-left">競争参加資格確認申請書</td>
                <td class="align-left">簡易技術添付資料</td>
                <td class="align-left">
                  <div><a href="">添付資料1.txt</a></div>
                </td>
                <td class="align-right">
                  <div>0.5MB</div>
                </td>
                <td class="align-left">20XX/XX/XX XX:XX:XX</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- result-list -->
      </div>
      <!-- bottom-area -->

      <div class="screen-title">
        <div class="row">
          <div class="col-12 align-center">
            <h2>調達案件検索</h2>
          </div>
        </div>
      </div>
      <!-- screen-title -->

      <div class="bottom-area">
        <div class="search-form">
          <form role="form" method="get">
            <div class="row justify-content-sm-center">
              <div class="col-md-8">
                <table class="form-table">
                  <tr>
                    <th>調達機関</th>
                    <td>
                      <div>国土交通省地方整備局</div>
                      <input
                        type="hidden"
                        name="organNo"
                        th:value="${#authentication.principal.organNo}"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>部局</th>
                    <td>
                      <div
                        th:text="${#authentication.principal.departmentName}"
                      >
                        XXXX地方整備局
                      </div>
                      <input
                        type="hidden"
                        name="departmentNo"
                        th:value="${#authentication.principal.departmentNo}"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>事務所</th>

                    <td th:if="${#authentication.principal.postType == '0'}">
                      <select style="width: 60%" id="officeNo" name="officeNo">
                        <option
                          th:each="office : ${officeList}"
                          th:object="${office}"
                          th:value="*{officeNo}"
                          th:text="*{officeName}"
                          th:selected="${office.officeNo == projectConditionForm.officeNo}"
                        >
                          すべて
                        </option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>工事／コンサル区分</th>
                    <td>工事</td>
                    <!-- or コンサル or 工事／コンサル -->
                  </tr>
                  <tr>
                    <th>入札方式</th>
                    <td>
                      <select
                        style="width: 60%"
                        id="bidMethodNo"
                        name="bidMethodNo"
                      >
                        <!-- 60%というのは適当 -->
                        <option>すべて</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>調達案件番号</th>
                    <td>
                      <input
                        id="projectNo"
                        name="projectNo"
                        type="text"
                        maxlength="60"
                        th:field="*{projectNo}"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>調達案件名称</th>
                    <td>
                      <input
                        id="projectName"
                        name="projectName"
                        type="text"
                        maxlength="256"
                        th:value="${projectConditionForm.projectName}"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th>公告日／公示日</th>
                    <td>
                      <div class="between-date-input">
                        <div>
                          <input
                            id="publishingStartTime"
                            name="publishingStartTime"
                            type="text"
                            th:value="${projectConditionForm.publishingStartTime}"
                          />
                          から
                        </div>
                        <div>
                          <input
                            id="publishingEndTime"
                            name="publishingEndTime"
                            type="text"
                            th:value="${projectConditionForm.publishingEndTime}"
                          />
                          まで
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row justify-content-sm-center">
              <div class="col-md-8">
                <div class="row justify-content-between">
                  <div class="col-6 align-left">
                    <input
                      type="submit"
                      name="search"
                      value="検索"
                      class="btn"
                    />
                  </div>
                  <div class="col-6 align-right">
                    <input type="button" name="" value="クリア" class="btn" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row error" id="message">
              <div class="col-12 align-center">
                <ul>
                  <li
                    th:if="${#fields.hasErrors('projectNo')}"
                    th:errors="*{projectNo}"
                  >
                    #fields.hasErrors('projectNo')
                  </li>

                  <li>XXが選択されていません。</li>
                  <li>XXに失敗しました。</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <!-- search-form -->
      </div>
      <!-- bottom-area -->
      <div class="screen-title">
        <div class="row">
          <div class="col-12 align-center">
            <h2>添付ファイル追加登録</h2>
          </div>
        </div>
      </div>
      <!-- screen-title -->

      <div class="align-center">middle-area</div>
      <div class="middle-area">
        <div class="row justify-content-sm-center">
          <div class="col-md-8 align-left alert-message">
            <p class="indentback">
              ※全Xファイル、合計XMBまで提出可能です(提出済みファイルを含む)。'"
            </p>
            <p class="indentback">
              ※ファイルはウイルスチェックを最新版のチェックデータで行ってください。<br />
            </p>
          </div>
        </div>

        <div th:if="${message != null}" class="error" id="message">
          <ul>
            <li th:if="${message.message != null}" th:text="${message.message}">
              ${message.subInfoList[subInfoStat.index]}
            </li>
          </ul>
          <ul
            th:if="${message.subInfoList != null}"
            style="list-style-type: none"
            th:each="subInfo : ${message.subInfoList}"
            th:id="subInfo + ${subInfoStat.index}"
          >
            <li th:text="${message.subInfoList[subInfoStat.index]}">
              ${message.subInfoList[subInfoStat.index]}
            </li>
          </ul>
        </div>
      </div>
      <!-- middle-area -->

      <div class="bottom-area">
        <div class="attach-doc-form">
          <form
            role="form"
            name="postForm"
            th:action="@{'/attachmentFiles/save'}"
            enctype="multipart/form-data"
            method="post"
            th:object="${inForm}"
          >
            <div class="row list-controll">
              <div class="col-12 align-right">
                <div class="controll-message">
                  <div id="sumFileSize"></div>
                </div>
                <div>
                  <input type="hidden" name="attachedDocumentNo" value="" />
                  <input type="hidden" name="fileName" value="" />
                </div>
              </div>
            </div>
            <!-- list-controll -->

            <div class="row result-list">
              <div class="col-12">
                <div>5, 57, 10, 10</div>
                <table>
                  <tr class="align-center">
                    <th width="5%">No.</th>
                    <th width="75%">添付ファイル選択</th>
                    <th width="10%">サイズ</th>
                    <th width="10%"></th>
                  </tr>

                  <tr>
                    <td class="align-center">1</td>
                    <td class="align-left">
                      <div><a href="">添付済みファイル1.txt</a></div>
                    </td>
                    <td class="align-right">
                      <div>0.5MB</div>
                    </td>
                    <td class="align-center">
                      <input type="button" class="btn" name="" value="削除" />
                    </td>
                  </tr>
                  <tr>
                    <td class="align-center">2</td>
                    <td class="align-left">
                      <input type="file" size="40" />
                    </td>
                    <td class="align-right">
                      <div></div>
                    </td>
                    <td class="align-center">
                      <input type="button" class="btn" name="" value="削除" />
                    </td>
                  </tr>
                  <tr>
                    <td class="align-center">3</td>
                    <td class="align-left">
                      <input type="file" size="40" />
                    </td>
                    <td class="align-right">
                      <div></div>
                    </td>
                    <td class="align-center">
                      <input type="button" class="btn" name="" value="削除" />
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12 align-center">
                <input type="button" name="" value="提出" class="btn" />
                <input
                  type="button"
                  id="returnbtn"
                  name=""
                  value="戻る"
                  class="btn"
                />
              </div>
            </div>
          </form>
        </div>
        <!-- result-list -->
      </div>
      <!-- bottom-area -->
    </div>
  </body>
</html>
